<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstKadaiApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4137B14C1CC52ECA00EBB10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4137B1601CC52ECA00EBB10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4137B16B1CC52ECB00EBB10B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
